<!DOCTYPE>
<html class="no-js" xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<title> Detalhes Evento </title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="foundation/css/foundation.css"/>
		<link rel="stylesheet" href="foundation/foundation-icons.css"/>
	</head>
	
	<body>
		<h1>Detalhes do Evento</h1>
		<a class="button" href="/eventos"> Home </a>
		
		<table class="grid-container">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horario</th>
				</tr>
			</thead>
		
			<tbody>
				<tr>
					<td><span th:text="${evento.nome}"></span></td>
					<td><span th:text="${evento.local}"></span></td>
					<td><span th:text="${evento.data}"></span></td>
					<td><span th:text="${evento.horario}"></span></td>
				</tr>	
			</tbody>
		</table>
		
		<form method="post" class="grid-container">
			<h3 style="margin-top:10%;">Adicionar Convidado</h3>
			<th:block th:include="mensagemErro"></th:block>
			<div class="grid-x grid-padding-x">
				<div class="medium-6 cell">
					<label>RG
						<input type="text" value="" name="rg" placeholder="xxxxxxx-x">
					</label>
				</div>
				
				<div class="medium-6 cell">
					<label>Nome
						<input type="text" value="" name="nome" placeholder="Nome do Convidado">
					</label>
				</div>
			</div>
			<button class="button" type="submit">Salvar</button>
		</form>
		
		<table class="grid-container">
			<thead>
				<tr>
					<th>Rg</th>
					<th>Nome</th>
					<th>Deletar</th>
				</tr>
			</thead>
		
			<tbody>
				<tr th:each="convidado: ${convidados}">
					<td><span th:text="${convidado.rg}"></span></td>
					<td><span th:text="${convidado.nome}"></span></td>
					<td><a th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}"><i class="fi-trash"></i></a></td>
				</tr>	
			</tbody>
		</table>
		
		<script src="foundation/js/vendor/jquery.js"></script>
    	<script src="foundation/js/vendor/what-input.js"></script>
    	<script src="foundation/js/vendor/foundation.min.js"></script>
	</body>
</html>