<!DOCTYPE html>
<html class="no-js" xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8">
		<title> Register Events App </title>
		<link rel="stylesheet" href="foundation/css/foundation.css"/>
		<link rel="stylesheet" href="foundation/foundation-icons.css"/>
	</head>
	<body>
		<h1>Lista de Eventos</h1>
		<h3> <a class="button" href="/cadastrarEvento"> <i class="fi-plus"></i> Cadastrar Evento </a> </h3>
		
		<table class="grid-container">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horario</th>
					<th>Deletar</th>
				</tr>
			</thead>
		
			<tbody>
				<tr th:each="evento: ${eventos}">
												<!--EC(iniciais do evento controlller) e o nome do método-->
					<td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}"><span th:text="${evento.nome}"></span></a></td>
					<td><span th:text="${evento.local}"></span></td>
					<td><span th:text="${evento.data}"></span></td>
					<td><span th:text="${evento.horario}"></span></td>
					<td><a th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.codigo)).build()}"><i class="fi-trash"></i></a></td>
				</tr>	
			</tbody>
		</table>
		
		<script src="foundation/js/vendor/jquery.js"></script>
    	<script src="foundation/js/vendor/what-input.js"></script>
    	<script src="foundation/js/vendor/foundation.min.js"></script>
	</body>
</hmlt>